<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%for(let i = 0; i < messages.length; i++){%>
    <div>
      <p>User Name: - <%= messages[i].username %></p>
      <p>Text: - <%= messages[i].text %></p>
      <p>Date: - <%= messages[i].added %></p>
    </div>
    <% }%>
    <a href="./new">
      <button>Open</button>
    </a>
  </body>
</html>
